<div id="wifiSet">
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">WIFI Module:</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_WifiExist %>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">Work Mode:</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_WifiMode %>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">Signal:</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= uiFD_WifiSignal%>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">Dial Status:</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_WifiDail%>
			</div>
		</div>
	</div>
</div>