<div id="wifiSet">
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">3/4G模块：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_GNetExist%>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">IMEI：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= strFD_GNetIMEI%>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">Sim卡：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_SimExist%>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">信号值：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= uiFD_GNetSignal%>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">拨号状态：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_GNetDail%>
			</div>
		</div>
	</div>
</div>