<div id="wifiSet">
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">WIFI模块：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_WifiExist %>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">工作模式：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_WifiMode %>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">信号值：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= uiFD_WifiSignal%>
			</div>
		</div>
	</div>
	<div class="setsCell">
		<div class="setsCellTitle" style="font-size:12px">拨号状态：</div>
		<div class="setsCellCont ">
			<div class="ipt sys-iptbox" style="font-size:12px">
				<%= ucFD_WifiDail%>
			</div>
		</div>
	</div>
</div>